openai
langchain>=1.3.14,<2.0.0
langchain-openai>=1.4.0,<2.0.0
dashscope
qiniu
python-dotenv
loguru
ffmpeg-python
sqlalchemy
pydantic-settings
dynaconf
pymysql
requests
elasticsearch==8.17.1
pandas
elasticsearch-dsl==8.17.1
